@font-face {
    font-family: 'Roboto Black';
    src: url('fonts/Roboto-Black.eot');
    src: url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Black.woff') format('woff'),
    url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Italic';
    src: url('fonts/Roboto-Italic.eot');
    src: url('fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Italic.woff') format('woff'),
    url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('fonts/Roboto-Light.eot');
    src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Light.woff') format('woff'),
    url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('fonts/Roboto-Medium.eot');
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Medium.woff') format('woff'),
    url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Bold.woff') format('woff'),
    url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI Regular';
    src: url('fonts/SegoeUI.eot');
    src: url('fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('fonts/SegoeUI.woff') format('woff'),
    url('fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

body{background-color: #fcfcfc;transition: 2s; overflow-x: hidden}
input {outline:none;}


img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;

}
/* start of logo + menu */

.back {
    background-image: url('img/kek.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    width: 1920px;
    height: 100%;
}
.big_back{
    width: 100%;
    height: 424px;
    background: linear-gradient(to right, #007aaa 0%,#007aaa 50%,#00a187 50%,#00a187 100%);
    overflow-x: hidden;
    display: flex;
    justify-content: center;

}
#pong{
    position: absolute;
    top: 0;
}
#menu{
    position: absolute;
    top: 68px;
    right: 18.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s;
}
#menu a{
    text-transform: uppercase;
    color: #545454;
    font-size: 13px;
    margin-left: 40px;
    font-family: "Roboto Medium", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu a::after{
    content: '';
    width: 0;
    top: 17px;
    height: 1px;
    background: #545454;
    transition: 0.2s;
    position: absolute;
    display: block;
}
#menu a:nth-child(1):hover::after{
    width: 25px;
}
#menu a:nth-child(2):hover::after{
    width: 30px;
}
#menu a:nth-child(3):hover::after{
    width: 22px;
}
#menu a:nth-child(4):hover::after{
    width: 57px;
}
#menu a:nth-child(5):hover::after{
    width: 30px;
}
#menu img{
    height: 13px;
    margin-left: 36px;
}
.mobile_menu{
    display: none;
    left: 0;
    top: -1px;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    transition: 0.8s;
}
.mobile_menu > .logo{
    left: 17px;
    top: 32px;
    display: flex;
}
.scrollable_mobile_menu > .logo{
    position: fixed;
}
.scrollable_mobile_menu > .burger{
    position: fixed;
}
.active_body{
    overflow-y:hidden;

}
.logotip{
    background-image: url(img/Logo_news.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 45px;
    height: 45px;
    transition: 0s;
}
.logo{
    display: flex;
    transition: 4s;
    text-transform: uppercase;
    position: absolute;
    top: 55px;
    left: 18.6%;
}
.desk_logotip{
    background-image: url(img/Logo_news.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 45px;
    height: 45px;
}
.desk_logo{
    display: flex;
    transition: 4s;
    text-transform: uppercase;
    position: absolute;
    top: 55px;
    left: 18.6%;
}
.desk_logo h1{
    color: #545454;
    margin-left: 10px;
    font-size: 17px;
    line-height: 45px;
    font-family: 'Roboto Bold', sans-serif;
    letter-spacing: 1px;
}
.logo h1{
    color: #545454;
    margin-left: 10px;
    font-size: 17px;
    line-height: 45px;
    font-family: 'Roboto Bold', sans-serif;
    letter-spacing: 1px;
}
.mobile_menu > .logo h1{
    line-height: 36px;
}
.scrollable_logo h1{
    color: black;
}
.scrollable_logo .logotip{
    background-image: url(img/Logo_news.svg);
    width: 25px;
    height: 25px;
}
.mobile_menu > .scrollable_logo{
    top:8px;
}
.mobile_menu > .scrollable_logo h1{
    line-height: 24px;
}
.mobile_menu > .active_logo{
    top: 8px;
}
.mobile_menu > .active_logo{
    line-height: 28px;
}
.active_logo h1{
    color: black;
}
.active_logo .logotip{
    background-image: url(img/Logo_news.svg);
}

.burger{
    position: absolute;
    right: 10px;
    top: 34px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger::after{
    content: '';
    width: 20px;
    height: 1px;
    top:16px;
    background: white;
    transition: 0.2s;
    position: absolute;
    display: block;
}
.burger::before{
    content: '';
    width: 20px;
    height: 1px;
    background: white;
    transition: 0.2s;
    position: absolute;
    display: block;
    top: 10px;
}
.burger_scrollable::before{
    content: '';
    width: 20px;
    height: 1px;
    background: #100100;
    transition: 0.2s;
    position: absolute;
    display: block;
    top: 10px;
}
.burger_scrollable::after{
    content: '';
    width: 20px;
    height: 1px;
    top:16px;
    background: #100100;
    transition: 0.2s;
    position: absolute;
    display: block;
}
.burger_scrollable{
    top: 5px;
}
.burger_active{
    top: 5px;
}
.burger_active::after{
    content: '';
    width: 20px;
    height: 1px;
    top:16px;
    background: #100100;
    transform: rotate(45deg);
    transition: 0.2s;
    position: absolute;
    display: block;
}
.burger_active::before{
    content: '';
    width: 20px;
    height: 1px;
    background: #100100;
    transition: 0.2s;
    position: absolute;
    display: block;
    top: 16px;
    transform: rotate(-45deg);
}
.menu_btns{
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    top: 20vh;
    display: flex;


}
.menu_a{
    margin: 15px 0 15px 0;
    opacity: 0;
    transition: 0.2s;
    font-size: 22px;
    color: #100100;
    font-family: "Roboto Light", sans-serif;
    transform: scale(1.3) translateY(-20px);
}

.menu_btns a:nth-child(1){
    transition-delay: 0.2s;
}
.menu_btns a:nth-child(2){
    transition-delay: 0.15s;
}
.menu_btns a:nth-child(3){
    transition-delay: 0.1s;
}
.menu_btns a:nth-child(4){
    transition-delay: 0.05s;
}
.menu_btns a:nth-child(5){
    transition-delay: 0.0s;
}
.active_menu_btns a:nth-child(1){
    transition-delay: 0s;
}
.active_menu_btns a:nth-child(2){
    transition-delay: 0.05s;
}
.active_menu_btns a:nth-child(3){
    transition-delay: 0.1s;
}
.active_menu_btns a:nth-child(4){
    transition-delay: 0.15s;
}
.active_menu_btns a:nth-child(5){
    transition-delay: 0.2s;
}
.active_a{
    opacity: 1;
    transition: 0.6s;
    transform: scale(1) translateY(0);
}
.active_menu_btns{
    transform: translateY(0);
    position: fixed !important;

}
.scrollable_mobile_menu{
    background: #fafafa;
    height: 40px;
    opacity: 0.9 !important;
    position: fixed;
}
.active_mobile_menu{
    height: calc(100vh + 1px);
    background: #fafafa;
    transition: 0.5s;
    overflow-y:hidden;
    opacity: 0.96 !important;

}
.position{
    position: absolute;
}
.switch{
    transition: 0s;
}
/* end of logo + menu */




main{
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 96%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 102px 0 275px 0;
}
.selectors{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 819px;

}
.selector{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.selector p{
    font-size: 22px;
    font-family: "Roboto Regular", sans-serif;
    color: #5791b1;
    position: absolute;
}
.selector::after{
    content: '';
    position: relative;
    top: 23px;
    width: 0;
    height: 2px;
    background: #5791b1;
    transition: 1s;
    opacity: 0;
}
.selector:hover::after{
    width: 50%;
    opacity: 1;
}
.active_selector::after{
    display: block;
    opacity: 1;
    width: 100%;
}
.active_selector:hover::after{
    display: block;
    opacity: 1;
    width: 100%;
}
.news_wrapper{
    margin: 103px 0 0 0;
    width: 100%;
}
.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#Tech_news{
    display: none;
}
.last_news{
    width: 100%;
    max-width: 878px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.last_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
    color: #b2b2b2;
    font-size: 14px;
    margin-top: 8px;
    font-family: "Roboto Regular", sans-serif;
}
.last_news > p:last-child{
    width: 100%;
    margin-top: 9px;
    color: #666666;
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    line-height: 25px;
}
.last_info > p:last-child {
    position: relative;
    left: -5px;

}
.last_news > div:nth-child(1){
    background: #9ed0ed;
    height: 1px;
    width: 57%;
    align-self: flex-start;
    margin-bottom: 30px;
    position: relative;
    left: 22px;
}
.last_news > div:last-child{
    background: #9ed0ed;
    height: 1px;
    width: 57%;
    align-self: flex-end;
    margin-top: 45px;
    right: 29px;
    position: relative;
}
.last_news > div:last-child::after{

    content: '';
    border-right: 2px solid #4480a2;
    border-bottom: 2px solid #4480a2;
    position: absolute;
    width: 16px;
    height: 16px;
    left: calc(100% + 5px);
    bottom: 0;
}
.last_news > div:last-child::before{

    content: '';
    position: absolute;
    width: 1px;
    height: 62px;
    background: #9ed0ed;
    left: calc(100% + 21px);
    bottom: calc(100% + 21px);
}
.last_news > div:first-child::after{

    content: '';
    border-left: 2px solid #4480a2;
    border-top: 2px solid #4480a2;
    position: absolute;
    width: 16px;
    height: 16px;
    left: -23px;
    top: -1px;
}
.last_news > div:first-child::before{

    content: '';
    position: absolute;
    width: 1px;
    height: 62px;
    background: #9ed0ed;
    left: -23px;
    top: calc(100% + 21px);
}
.last_news > p:nth-child(3){
    color: #666666;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    line-height: 25px;
    margin-top: 9px;

}

.Tech_news{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-top: 33px;
}
.tech_text p {
    font-family: "Roboto Regular", sans-serif;
}
.tech_article{
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    transition: 0.33s;
    border-radius: 5px;
}
.tech_article::before{
    background: #e2e2e2;
    content: '';
    display: block;
    height: 1px;
    position: relative;
    top: -25px;
    left: 0;
    width: 100%;
}
.last_tech_article::before{
    background: none;
    content: '';
    display: block;
    height: 0px;
    position: relative;
    top: -25px;
    left: 0;
    width: 100%;
}

.tech_info h6{
    float: right;
}
.tech_text{
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    color: #666666;
    line-height: 25px;
    padding: 0 9px 0 9px;

}

.tech_info{
    color: #b2b2b2;
    font-size: 17px;
    font-family: "Roboto Regular", sans-serif;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.article{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.33s;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}
.main_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article_full_img{
    height: 300px;
}
.article_prev_img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 100%;
    border-radius: 4px;
}
.Article_text{
    width: 62%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 25px 50px 26px 0;
}
.Article_text h1{
    color: black;
    font-family: "Roboto Medium", sans-serif;
    font-size: 25px;
    line-height: 30px;
}
.info{
    margin-top: 16px;
    display: flex;
    font-size: 11px;
    font-family: "Roboto Regular", sans-serif;
    color: #9e9e9f;
    align-items: center;
}
.info p{
    font-size: 11px;
}
.info h5{
    font-size: 11px;
}

.date_prev_article{
    display: flex;
    align-items: center;
    justify-content: center;
}
.date_prev_article img{
    width: 10px;
    height: 10px;
    margin-right: 6px;
}

.who_prev_article{
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}
.who_prev_article img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.comments_prev_article{
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}
.comments_prev_article img{
    height: 10px;
    width: 10px;
    margin-right: 6px;
}
.watch{
    opacity: 0.6;
    background-color: black;
    position: relative;
    color: white;
    bottom: 35px;
    width: 50px;
    right: 15px;
    display: flex;
    align-items: center;
    font-family: "Roboto Medium", sans-serif;
    font-size: 11px;
    padding: 4px;
    border-radius: 4px;
    float: right;

}
.watch img{
    width: 12px;
    height: 7px;
    margin-right: 3px;
    margin-left: 3px;
}
.Prev_text{
    color: #666666;
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 101px;
    margin-top: 20px;
    line-height: 26px;
}










/* start of footer */



footer{
    display: flex;
    background-color: #18152c;
    padding: 83px 0 61px 0;
    align-items: center;
    justify-content: center;
}
.footer_wrap{
    width: 96%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.bottom_text{
    position: relative;
    display: flex;
    bottom: 0;
    background: #0e0b23;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
}
.bottom_wrap{
    color: #4a4858;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-family: "Roboto Regular", sans-serif;
    max-width: 1200px;
}
.bottom_wrap p:nth-child(2){
    color: #4d4d4d;
}

.treaties{
    display: flex;
    align-items: center;
    width: 560px;
    justify-content: space-between;
}
.bottom_wrap p:nth-child(2){
    font-size: 11px;
}
.treaties a{
    font-size: 11px;
    color: #4a4858;
    padding-bottom: 1px;
    border-bottom: solid 1px #4a4858;
}

.left_fot hr{
    transform: rotate(90deg);
    height: 1px;
    background: #44405d;
    width: 56px;
    border: none;
    margin-left: 2px;
}
.switcher{
    display: flex;
    justify-content: center;
    align-items: center;
}
.switcher img{
    width: 16px;
}

.left_fot{
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: column;
    max-width: 500px;
}
.left_fot p{
    font-family: "Roboto Regular", sans-serif;
    font-size: 14px;
    line-height: 25px;
    color:  #e9e9e9;
}
.up_left{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 315px;
}
.right_fot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 10%;
    left: 13px;
    position: relative;
}
.footer_buy{
    position: relative;
    top: 24px;
    left: 16px;
    display: flex;
    align-items: center;
}
.footer_buy_btn{
    height: 52px;
    width: 190px;
    border-radius: 10px;
    background: linear-gradient(to right, #575dc9, #6b57a6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    opacity: 1;
    position: relative;
    transition: 1s;
    top: 16px;
}
.footer_buy_btn::before{
    content: 'Купить Bitbon';
    position: absolute;
    top: 0;
    left: 0;
    height: 52px;
    width: 190px;
    border-radius: 10px;
    background: linear-gradient(to right, #3c86f5, #a347e8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    transition: 1s;
}
.footer_buy_btn:hover::before {
    opacity: 0.95;
}

.footer_buy_btn h1{
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_buy p{
    margin-left: 10px;
    margin-right: 10px;
}
.footer_buy img{
    width: 26px;
}
.down_left{
    width: 100%;
    margin-top: 36px;
}
.down_left p{
    font-size: 13px;
    font-family: "Roboto Regular", sans-serif;
    color: #74708e;
    line-height: 25px;
}
.logo_footer{
    display: flex;
    text-transform: uppercase;

}
.logo_footer h1{
    color: white;
    margin-left: 10px;
    font-size: 17px;
    line-height: 45px;
    font-family: 'Roboto Bold', sans-serif;
    letter-spacing: 0.4px;
}
.social_fot svg{
    width: 23px;
    height: auto;
    margin: 0 11px 0 11px;
    fill: #5964aa;
    transition: 1s;
}
.social_fot{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 11px;
}
.logo_footer span{
    color: #bfa3ff;
}

.switcher a{
    margin-left: 10px;
    font-size: 15px;
    font-family: "Roboto Regular", sans-serif;
    color: #d5d3e5;
}
.switcher a:hover{
    text-decoration: underline white;
}

/* end of footer */

















@media screen and (max-width: 1720px) {
    .desk_logo{
        left: 10%;
    }
    #menu{
        right: 10%;
    }
}
@media screen and (max-width: 1620px) {


    /* footer */
    footer{
        padding: 73px 0 51px 0;
    }
    /* //footer// */

}

@media screen and (max-width: 1600px) {
    .logo{
        left: 10%;
    }
}
@media screen and (max-width: 1450px) {
    /* logo */
    #menu a{
        margin-left: 20px;
    }
    #menu img{
        margin-left: 20px;
    }
    /* //logo// */


}

@media screen and (max-width: 1380px) {

    /* logo */
    #menu{
        right: 5%;
    }
    /* //logo// */

    /* footer */
    .right_fot{
        left: 1px;
    }

}

@media screen and (max-width: 1180px) {




    /* logo */
    .desk_logo{
        left: 4.6%;
    }
    #menu{
        right: 3%;
    }

    /* //logo// */

}

@media screen and (max-width: 1028px) {

    /* logo */

    #menu{
        display:none ;
    }
    .mobile_menu{
        display: flex;
    }

    .desk_logo{
        display:none;
    }
    .mobile_menu > .logo{
        display: flex;
    }
    .logotip{
        width: 36px;
        height: 36px;
    }
    .logo h1{
        line-height:36px ;
    }
    /* //logo// */




    /* news */
    .article{
        flex-direction: column;
    }
    .Article_text{
        width: 98%;
        margin-top: 20px;
        margin-left: 0;
    }
    .little_btns h4 > span{
        display: none;
    }
    .news_btn{
        margin-left: 3px;
    }
    .article_prev_img{
        width: 100%;
    }
    .article_full_img{
        width: 100%;
        max-width: 500px;
    }
    .watch{
        width: 50px;
    }
    .big_btns{
        height: 47px;
    }
    .more_news{
        margin-bottom: 40px;
        display: none;
        cursor: pointer;
    }
    .more_news p{
        font-family: "Roboto Regular", sans-serif;
        font-size: 16px;
        color: #5658a5;
    }
    .news{
        padding-top: 37px;
        padding-bottom: 31px;
        width: 90%;
    }
    .big_btns h3{
        font-size: 18px;
    }
    .little_btns{
        margin-top: 22px;
        margin-bottom: -22px;
        font-size: 16px;
    }
    .little_btns h4{
        margin-bottom: -10px;
    }
    .line_btn{
        width: 85%;
    }
    .article{
        margin-top: 14px;
    }
    .Article_text{
        padding: 0 0 0 0;
    }
    .Article_text h1{
        font-size: 20px;
        line-height: 28px;
    }
    .info h5{
        font-size: 15px;
    }
    .info p{
        font-size: 15px;
    }
    .date_prev_article img{
        width: 14px;
        height: 14px;
    }
    .comments_prev_article img{
        width: 15px;
        height: 14px;
    }
    .info{
        margin-top: 18px;
    }

    .article{
        -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow:    0 3px 10px 0 rgba(0, 0, 0, 0.15);
        box-shadow:         0 3px 10px 0 rgba(0, 0, 0, 0.15);
        padding: 10px 9px 10px 9px;
    }
    .Global_news{
        padding-top: 25px;
    }
    .About_news{
        padding-top: 25px;
    }
    .Meaning_news{
        padding-top: 25px;
    }
    .tech_article{
        padding: 40px 0 10px 0;
        margin: -2px 9px 0 9px;
        width: 98%;
    }
    .tech_article::before{
        background: #e2e2e2;
        content: '';
        display: block;
        height: 1px;
        position: relative;
        top: -25px;
        left: 0;
        width: 100%;
    }
    .last_tech_article::before{
        background: none;
        content: '';
        display: block;
        height: 0;
        position: relative;
        top: -25px;
        left: 0;
        width: 100%;
    }
    .tech_info{
        margin: 0 9px 10px 9px;
    }
    .Tech_news{
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
    }

    .info{
        padding-bottom: 10px;
    }
    /* //news// */









    /* //footer// */
    footer{

        padding: 72px 0 30px 0;
    }
    .footer_wrap{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .bottom_wrap{
        flex-direction: column;
    }
    .bottom_text{
        height: auto;
        padding: 35px 0 0 0;
    }
    .treaties{
        flex-direction: column;
        width: 100%;
    }
    .treaties a{
        margin-bottom: 27px;
        font-size: 13px;
    }
    .treaties a:nth-child(1){
        order: 3;
    }
    .treaties a:nth-child(2){
        order: 1;
    }
    .treaties a:nth-child(3){
        order: 2;
    }
    .bottom_wrap p:nth-child(2){
        background: #080612;
        width: 100%;
        text-align: center;
        font-size: 13px;
        margin-top: 7px;
        padding: 20px 0 20px 0;
    }
    .left_fot{
        width: 96%;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
    }
    .right_fot{
        width: 96%;
        justify-content: center;
        margin-left: 0;
        left: 0;
        right: 0;
        align-items: center;
        margin-top: 35px;

    }
    .down_left{
        margin-top: 28px;
    }
    .social_fot{
        justify-content: space-between;
        flex-wrap: wrap;
        bottom: 0;
        width: 100%;
        max-width:400px;

    }
    .footer_buy{
        left: 21px;
        top:0;
    }
    .footer_buy_btn{
        height: 57px;
        width: 225px;
    }
    .footer_buy_btn::before{
        height: 57px;
        width: 225px;
        font-size: 18px;
    }
    .footer_buy_btn h1{
        font-size: 18px;
    }
    .footer_buy p{
        margin: 0 6px 5px 6px;
    }
    .footer_buy img{
        margin: 0 0 10px 0;
    }
    .logo_footer{
        justify-content: center;
        align-items: center;
    }
    .social_fot svg{
        margin: 0 0 50px 0;
        transition: 1s;
    }
    .logo_footer h1{
        line-height: 46px;
    }
    .logo_footer > .logotip{
        width: 43px;
        height: 43px;
    }
    .right_fot p{
        font-family: "Roboto Regular", sans-serif;
        line-height: 25px;
    }

    /* //footer// */




}
@media screen and (max-width: 670px) {

    .logotip{
        width: 30px;
        height: 30px;
    }
    .logo h1{
        font-size: 14px;
        line-height: 30px;
    }
    .who_prev_article{
        display: none;
    }
    .info{
        justify-content: space-between;
    }
    .main_article{
        flex-direction: column-reverse;
    }
    .Prev_text{
        margin-top: 12px;
        line-height: 25px;
        max-height: 130px;
    }
    .watch{
        right: 9px;
        bottom: 28px;
    }




}
@media screen and (max-width: 492px) {

    .Tech h4{
        right: 10%;
        position: relative;
    }
    .Global > .underline{
        left: 16px;
    }
    .Tech > .underline{
        right: 15px;
    }
    .article_full_img{
        height: 260px;
    }
    .Global h4{
        left: 10%;
        position: relative;
    }
    .Tech h4{
        right: 10%;
        position: relative;
    }
    .Global > .underline{
        left: 16px;
    }
    .Tech > .underline{
        right: 15px;
    }




}

@media screen and (max-width: 370px) {

    /* footer */
    .left_fot hr{
        margin-left: 0;
    }
    .left_fot{
        width: 90%;
    }
    .right_fot{
        width: 90%;
    }
    /* //footer// */



}